[submodule "archives/juanmuscaria-tesssst"]
	path = archives/juanmuscaria-tesssst
	url = https://github.com/AutoArchives/tesssst.git
[submodule "archives/yamakaja-runtimetransformer"]
	path = archives/yamakaja-runtimetransformer
	url = https://github.com/AutoArchives/RuntimeTransformer.git
[submodule "archives/milkbowl-vault"]
	path = archives/milkbowl-vault
	url = https://github.com/AutoArchives/Vault.git
[submodule "archives/fabiozumbi12-ultimatechat"]
	path = archives/fabiozumbi12-ultimatechat
	url = https://github.com/AutoArchives/UltimateChat.git
[submodule "archives/cruciblemc-crucible"]
	path = archives/cruciblemc-crucible
	url = https://github.com/AutoArchives/Crucible.git
[submodule "archives/games647-fastlogin"]
	path = archives/games647-fastlogin
	url = https://github.com/AutoArchives/FastLogin.git
[submodule "archives/minecraftforge-srg2source"]
	path = archives/minecraftforge-srg2source
	url = https://github.com/AutoArchives/Srg2Source.git
[submodule "archives/andreasdc-travertine"]
	path = archives/andreasdc-travertine
	url = https://github.com/AutoArchives/Travertine.git
[submodule "archives/technicpack-launcherv3"]
	path = archives/technicpack-launcherv3
	url = https://github.com/AutoArchives/LauncherV3.git
[submodule "archives/team-fruit-emojicord"]
	path = archives/team-fruit-emojicord
	url = https://github.com/AutoArchives/Emojicord.git
