[submodule "archives/juanmuscaria-tesssst"]
	path = archives/juanmuscaria-tesssst
	url = https://github.com/AutoArchives/juanmuscaria-tesssst.git
[submodule "archives/yamakaja-runtimetransformer"]
	path = archives/yamakaja-runtimetransformer
	url = https://github.com/AutoArchives/yamakaja-runtimetransformer.git
[submodule "archives/milkbowl-vault"]
	path = archives/milkbowl-vault
	url = https://github.com/AutoArchives/milkbowl-vault.git
[submodule "archives/fabiozumbi12-ultimatechat"]
	path = archives/fabiozumbi12-ultimatechat
	url = https://github.com/AutoArchives/fabiozumbi12-ultimatechat.git
[submodule "archives/cruciblemc-crucible"]
	path = archives/cruciblemc-crucible
	url = https://github.com/AutoArchives/cruciblemc-crucible.git
[submodule "archives/games647-fastlogin"]
	path = archives/games647-fastlogin
	url = https://github.com/AutoArchives/games647-fastlogin.git
[submodule "archives/minecraftforge-srg2source"]
	path = archives/minecraftforge-srg2source
	url = https://github.com/AutoArchives/minecraftforge-srg2source.git
[submodule "archives/andreasdc-travertine"]
	path = archives/andreasdc-travertine
	url = https://github.com/AutoArchives/andreasdc-travertine.git
[submodule "archives/technicpack-launcherv3"]
	path = archives/technicpack-launcherv3
	url = https://github.com/AutoArchives/technicpack-launcherv3.git
[submodule "archives/team-fruit-emojicord"]
	path = archives/team-fruit-emojicord
	url = https://github.com/AutoArchives/team-fruit-emojicord.git
[submodule "archives/juanmuscaria-magma"]
	path = archives/juanmuscaria-magma
	url = https://github.com/AutoArchives/juanmuscaria-magma.git
[submodule "archives/domnian-paperdragon"]
	path = archives/domnian-paperdragon
	url = https://github.com/AutoArchives/domnian-paperdragon.git
[submodule "archives/uraniummc-uranium"]
	path = archives/uraniummc-uranium
	url = https://github.com/AutoArchives/uraniummc-uranium.git
[submodule "archives/orionminecraft-orion"]
	path = archives/orionminecraft-orion
	url = https://github.com/AutoArchives/orionminecraft-orion.git
[submodule "archives/mbax-vanishnopacket"]
	path = archives/mbax-vanishnopacket
	url = https://github.com/AutoArchives/mbax-vanishnopacket.git
[submodule "archives/xsun2001-applied-energistics-2-unofficial"]
	path = archives/xsun2001-applied-energistics-2-unofficial
	url = https://github.com/AutoArchives/xsun2001-applied-energistics-2-unofficial.git
[submodule "archives/akullpp-awesome-java"]
	path = archives/akullpp-awesome-java
	url = https://github.com/AutoArchives/akullpp-awesome-java.git
[submodule "archives/timtomtim7-chatmenuapi"]
	path = archives/timtomtim7-chatmenuapi
	url = https://github.com/AutoArchives/timtomtim7-chatmenuapi.git
[submodule "archives/sameer-extrautilities"]
	path = archives/sameer-extrautilities
	url = https://github.com/AutoArchives/sameer-extrautilities.git
[submodule "archives/hallowizer-fastcraftcoderpack"]
	path = archives/hallowizer-fastcraftcoderpack
	url = https://github.com/AutoArchives/hallowizer-fastcraftcoderpack.git
[submodule "archives/stepan14041999-cookie"]
	path = archives/stepan14041999-cookie
	url = https://github.com/AutoArchives/stepan14041999-cookie.git
[submodule "archives/icosider-gecko"]
	path = archives/icosider-gecko
	url = https://github.com/AutoArchives/icosider-gecko.git
[submodule "archives/crazy-crew-crazycrates"]
	path = archives/crazy-crew-crazycrates
	url = https://github.com/AutoArchives/crazy-crew-crazycrates.git
[submodule "archives/doubledoordevelopment-itemblacklist"]
	path = archives/doubledoordevelopment-itemblacklist
	url = https://github.com/AutoArchives/doubledoordevelopment-itemblacklist.git
[submodule "archives/fabiozumbi12-pixelvip"]
	path = archives/fabiozumbi12-pixelvip
	url = https://github.com/AutoArchives/fabiozumbi12-pixelvip.git
[submodule "archives/gamerforea-eventhelper"]
	path = archives/gamerforea-eventhelper
	url = https://github.com/AutoArchives/gamerforea-eventhelper.git
[submodule "archives/magitechnetwork-magihandlers"]
	path = archives/magitechnetwork-magihandlers
	url = https://github.com/AutoArchives/magitechnetwork-magihandlers.git
[submodule "archives/himmelt-sekka"]
	path = archives/himmelt-sekka
	url = https://github.com/AutoArchives/himmelt-sekka.git
[submodule "archives/techcatother-um_bukkit"]
	path = archives/techcatother-um_bukkit
	url = https://github.com/AutoArchives/techcatother-um_bukkit.git
[submodule "archives/sidoh-reactor_simulator"]
	path = archives/sidoh-reactor_simulator
	url = https://github.com/AutoArchives/sidoh-reactor_simulator.git
[submodule "archives/bogdan-g-ffokc"]
	path = archives/bogdan-g-ffokc
	url = https://github.com/AutoArchives/bogdan-g-ffokc.git
[submodule "archives/dvhaldane-forgerestrictor"]
	path = archives/dvhaldane-forgerestrictor
	url = https://github.com/AutoArchives/dvhaldane-forgerestrictor.git
[submodule "archives/evernife-forgerestrictor"]
	path = archives/evernife-forgerestrictor
	url = https://github.com/AutoArchives/evernife-forgerestrictor.git
[submodule "archives/cube-space-yamler"]
	path = archives/cube-space-yamler
	url = https://github.com/AutoArchives/cube-space-yamler.git
[submodule "archives/spark108-svarka"]
	path = archives/spark108-svarka
	url = https://github.com/AutoArchives/spark108-svarka.git
[submodule "archives/kasperfranz-kaisrandomteleport"]
	path = archives/kasperfranz-kaisrandomteleport
	url = https://github.com/AutoArchives/kasperfranz-kaisrandomteleport.git
[submodule "archives/shevchikunsupportedprojects-modfixng"]
	path = archives/shevchikunsupportedprojects-modfixng
	url = https://github.com/AutoArchives/shevchikunsupportedprojects-modfixng.git
[submodule "archives/cyberdynecc-thermos-bukkit"]
	path = archives/cyberdynecc-thermos-bukkit
	url = https://github.com/AutoArchives/cyberdynecc-thermos-bukkit.git
[submodule "archives/kookykraftmc-betterchunkloader"]
	path = archives/kookykraftmc-betterchunkloader
	url = https://github.com/AutoArchives/kookykraftmc-betterchunkloader.git
[submodule "archives/dvhaldane-bclforgelib"]
	path = archives/dvhaldane-bclforgelib
	url = https://github.com/AutoArchives/dvhaldane-bclforgelib.git
[submodule "archives/juanmuscaria-elixr"]
	path = archives/juanmuscaria-elixr
	url = https://github.com/AutoArchives/juanmuscaria-elixr.git
[submodule "archives/ctrlshiftesc-elixr"]
	path = archives/ctrlshiftesc-elixr
	url = https://github.com/AutoArchives/ctrlshiftesc-elixr.git
[submodule "archives/minemine-minetickmod"]
	path = archives/minemine-minetickmod
	url = https://github.com/AutoArchives/minemine-minetickmod.git
[submodule "archives/juanmuscaria-damask"]
	path = archives/juanmuscaria-damask
	url = https://github.com/AutoArchives/juanmuscaria-damask.git
[submodule "archives/juanmuscaria-kimagine"]
	path = archives/juanmuscaria-kimagine
	url = https://github.com/AutoArchives/juanmuscaria-kimagine.git
[submodule "archives/juanmuscaria-lightbukkit"]
	path = archives/juanmuscaria-lightbukkit
	url = https://github.com/AutoArchives/juanmuscaria-lightbukkit.git
[submodule "archives/dimensionaldevelopment-legacylauncher"]
	path = archives/dimensionaldevelopment-legacylauncher
	url = https://github.com/AutoArchives/dimensionaldevelopment-legacylauncher.git
[submodule "archives/addstarmc-prism-bukkit"]
	path = archives/addstarmc-prism-bukkit
	url = https://github.com/AutoArchives/addstarmc-prism-bukkit.git
