[submodule "archives/juanmuscaria-tesssst"]
	path = archives/juanmuscaria-tesssst
	url = https://github.com/AutoArchives/tesssst.git
[submodule "archives/yamakaja-runtimetransformer"]
	path = archives/yamakaja-runtimetransformer
	url = https://github.com/AutoArchives/RuntimeTransformer.git
[submodule "archives/milkbowl-vault"]
	path = archives/milkbowl-vault
	url = https://github.com/AutoArchives/Vault.git
